<div class="ehc mt-4">
  <div class="viscosity result-section mb-5">
    <h2 class="h4">Viscosity @ 40&deg; C ASTM D-445</h2>
    <div class="viscosity result secondary">
      <h3 class="mb-3">No Input</h3>
      <p>You did not select a range for Viscosity</p>
    </div>
    <div class="viscosity result least">
      <h3 class="mb-3">Least Risk - <span class="vis-value"></span></h3>
      <p>{{ post.get_field('viscosity_least_risk') }}</p>
    </div>
    <div class="viscosity result less">
      <h3 class="mb-3">Less Risk - <span class="vis-value"></span></h3>
      <p>{{ post.get_field('viscosity_less_risk') }}</p>
    </div>
    <div class="viscosity result caution">
      <h3 class="mb-3">Caution - <span class="vis-value"></span></h3>
      <p>{{ post.get_field('viscosity_caution') }}</p>
      <p class="text-center">
        <a href="/contact-us" class="btn btn-lg btn-caution">
          <i class="fa fa-exclamation-triangle"></i> Contact Us for Help
        </a>
      </p>
    </div>
    <div class="viscosity result more">
      <h3 class="mb-3">More Risk - Needs Recovery - <span class="vis-value"></span></h3>
      <p>{{ post.get_field('viscosity_more_risk') }}</p>
      <p class="text-center">
        <a href="/contact-us" class="btn btn-lg btn-warning">
          <i class="fa fa-exclamation-triangle"></i> Contact Us for Help
        </a>
      </p>
    </div>
    <div class="viscosity result most">
      <h3 class="mb-3">Most Risk - Must Recover - <span class="vis-value"></span></h3>
      <p>{{ post.get_field('viscosity_most_risk') }}</p>
      <p class="text-center">
        <a href="/contact-us" class="btn btn-lg btn-danger">
          <i class="fa fa-exclamation-triangle"></i> Contact Us for Help
        </a>
      </p>
    </div>
  </div>

  <div class="acid result-section mb-5">
    <h2 class="h4">Total Acid/Neutralization No. (mg KOH / gm)</h2>
    <div class="acid result secondary">
      <h3 class="mb-3">No Input</h3>
      <p>You did not select a range for Total Acid/Neutralization No.</p>
    </div>
    <div class="acid result least">
      <h3 class="mb-3">Least Risk - <span class="acid-value"></span> mg KOH / gm</h3>
      <p>{{ post.get_field('acid_number_least_risk') }}</p>
    </div>
    <div class="acid result less">
      <h3 class="mb-3">Less Risk - <span class="acid-value"></span> mg KOH / gm</h3>
      <p>{{ post.get_field('acid_number_less_risk') }}</p>
    </div>
    <div class="acid result caution">
      <h3 class="mb-3">Caution - <span class="acid-value"></span> mg KOH / gm</h3>
      <p>{{ post.get_field('acid_number_caution') }}</p>
      <p class="text-center">
        <a href="/contact-us" class="btn btn-lg btn-caution">
          <i class="fa fa-exclamation-triangle"></i> Contact Us for Help
        </a>
      </p>
    </div>
    <div class="acid result more">
      <h3 class="mb-3">More Risk - Needs Recovery - <span class="acid-value"></span> mg KOH / gm</h3>
      <p>{{ post.get_field('acid_number_more_risk') }}</p>
      <p class="text-center">
        <a href="/contact-us" class="btn btn-lg btn-warning">
          <i class="fa fa-exclamation-triangle"></i> Contact Us for Help
        </a>
      </p>
    </div>
    <div class="acid result most">
      <h3 class="mb-3">Most Risk - Must Recover - <span class="acid-value"></span> mg KOH / gm</h3>
      <p>{{ post.get_field('acid_number_most_risk') }}</p>
      <p class="text-center">
        <a href="/contact-us" class="btn btn-lg btn-danger">
          <i class="fa fa-exclamation-triangle"></i> Contact Us for Help
        </a>
      </p>
    </div>
  </div>

  <div class="water result-section mb-5">
    <h2 class="h4">Water Content ppm</h2>
    <div class="water result secondary">
      <h3 class="mb-3">No Input</h3>
      <p>You did not select a range for Water Content</p>
    </div>
    <div class="water result least">
      <h3 class="mb-3">Least Risk - <span class="water-value"></span> ppm</h3>
      <p>{{ post.get_field('water_least_risk') }}</p>
    </div>
    <div class="water result less">
      <h3 class="mb-3">Less Risk - <span class="water-value"></span> ppm</h3>
      <p>{{ post.get_field('water_less_risk') }}</p>
    </div>
    <div class="water result caution">
      <h3 class="mb-3">Caution - <span class="water-value"></span> ppm</h3>
      <p>{{ post.get_field('water_caution') }}</p>
      <p class="text-center">
        <a href="/contact-us" class="btn btn-lg btn-caution">
          <i class="fa fa-exclamation-triangle"></i> Contact Us for Help
        </a>
      </p>
    </div>
    <div class="water result more">
      <h3 class="mb-3">More Risk - Needs Recovery - <span class="water-value"></span> ppm</h3>
      <p>{{ post.get_field('water_more_risk') }}</p>
      <p class="text-center">
        <a href="/contact-us" class="btn btn-lg btn-warning">
          <i class="fa fa-exclamation-triangle"></i> Contact Us for Help
        </a>
      </p>
    </div>
    <div class="water result most">
      <h3 class="mb-3">Most Risk - Must Recover - <span class="water-value"></span> ppm</h3>
      <p>{{ post.get_field('water_most_risk') }}</p>
      <p class="text-center">
        <a href="/contact-us" class="btn btn-lg btn-danger">
          <i class="fa fa-exclamation-triangle"></i> Contact Us for Help
        </a>
      </p>
    </div>
  </div>

  <div class="resistivity result-section mb-5">
    <h2 class="h4">Resistivity Gohm.cm</h2>
    <div class="resistivity result secondary">
      <h3 class="mb-3">No Input</h3>
      <p>You did not select a range for Resistivity</p>
    </div>
    <div class="resistivity result least">
      <h3 class="mb-3">Least Risk - <span class="resist-value"></span> Gohm.cm</h3>
      <p>{{ post.get_field('resistivity_least_risk') }}</p>
    </div>
    <div class="resistivity result less">
      <h3 class="mb-3">Less Risk - <span class="resist-value"></span> Gohm.cm</h3>
      <p>{{ post.get_field('resistivity_less_risk') }}</p>
    </div>
    <div class="resistivity result caution">
      <h3 class="mb-3">Caution - <span class="resist-value"></span> Gohm.cm</h3>
      <p>{{ post.get_field('resistivity_caution') }}</p>
      <p class="text-center">
        <a href="/contact-us" class="btn btn-lg btn-caution">
          <i class="fa fa-exclamation-triangle"></i> Contact Us for Help
        </a>
      </p>
    </div>
    <div class="resistivity result more">
      <h3 class="mb-3">More Risk - Needs Recovery - <span class="resist-value"></span> Gohm.cm</h3>
      <p>{{ post.get_field('resistivity_more_risk') }}</p>
      <p class="text-center">
        <a href="/contact-us" class="btn btn-lg btn-warning">
          <i class="fa fa-exclamation-triangle"></i> Contact Us for Help
        </a>
      </p>
    </div>
    <div class="resistivity result most">
      <h3 class="mb-3">Most Risk - Must Recover - <span class="resist-value"></span> Gohm.cm</h3>
      <p>{{ post.get_field('resistivity_most_risk') }}</p>
      <p class="text-center">
        <a href="/contact-us" class="btn btn-lg btn-danger">
          <i class="fa fa-exclamation-triangle"></i> Contact Us for Help
        </a>
      </p>
    </div>
  </div>
</div>