<form class="ehc">
  <div class="col-sm">
    <label for="viscosity">Viscosity cSt @ 40&deg; C <span class="info" data-toggle="modal" data-target="#viscosityModal"><i class="fa fa-question-circle"></i></span></label>
    <input type="text" id="viscosity" class="form-control" data-title="Viscoisty" style="text-align: right">
    <p class="error vis-error">This field must be numeric and is required</p>
    <div class="viscosity-definition definition">
      <?php echo get_field('viscosity_definition');?>
    </div>
  </div>
  <div class="col-sm">
    <label for="acid">Total Acid/Neutralization No. (mg KOH / gm) <span class="info" data-toggle="modal" data-target="#acidModal"><i class="fa fa-question-circle"></i></span></label>
    <input type="text" id="acid" class="form-control" data-title="Acid Number" style="text-align: right">
    <p class="error acid-error">This field must be numeric and is required</p>
    <div class="acid-definition definition">
      <?php echo get_field('acid_number_definition');?>
    </div>
  </div>
  <div class="col-sm">
    <label for="resistivity">Resistivity Gohm.cm <span class="info" data-toggle="modal" data-target="#resistivityModal"><i class="fa fa-question-circle"></i></span></label>
    <input type="text" id="resistivity" class="form-control" data-title="Resistivity" style="text-align: right">
    <p class="error resist-error">This field must be numeric and is required</p>
    <div class="resistivity-definition definition">
      <?php echo get_field('resistivity_definition');?>
    </div>
  </div>
  <div class="col-sm">
    <label for="water">Water Content ppm <span class="info" data-toggle="modal" data-target="#waterModal"><i class="fa fa-question-circle"></i></span></label>
    <input type="text" id="water" class="form-control" data-title="Water Content pwt%" style="text-align: right">
    <p class="error water-error">This field must be numeric and is required</p>
    <div class="water-definition definition">
      <?php echo get_field('water_content_definition');?>
    </div>
  </div>
  <div class="col-md-12">
    <button type="submit" id="testSubmit" class="btn btn-hollow" style="margin-top: 2em;">Calculate</button>
  </div>
</form>