<div id="slider">
  <p role="presentation" class="sr-only" id="slide-interval">{{ post.get_field('slider_interval') }}</p>
  <a href="#" class="control_next"><span class="sr-only">Right slider control</span><i class="fa fa-chevron-right"></i></a>
  <a href="#" class="control_prev"><span class="sr-only">Left slider control</span><i class="fa fa-chevron-left"></i></a>
  {# {{ post.get_field('slides')|print_r}} #}
  <ul>
  {% for slide in post.get_field('slides') %}
    <li>
      <div class="slider-image" style="background-image:url({{ slide.slider_image.url }})">
        <div class="slider-content">
            <h2 class="h3">{{ slide.slider_heading }}</h2>
            <p class="slider-text">
              {{ slide.slider_body_text }}
            </p>
            <p class="slider-button">
              <a href="{{ slide.slider_link }}" class="btn btn-lg btn-hollow scroll-link" title="link to {{ slide.slider_heading }}">View</a>
            </p>
        </div>
      </div>
    </li>
    {% endfor %}
  </ul>  
</div>