
.footer {
  background-color: $primary-color;
  color: #fff;
  font-size: 0.875rem;
  padding: 2rem 0;
  margin-top: 6rem;
  flex-shrink: 0;
  .nav-link {
    padding: 0;
  }
  p {
    margin: 0;
  }
  a {
    color: #fff;
    &:hover {
      
    }
  }
  @media(max-width: 768px) {
    div[class^="col-"] {
      padding-bottom: 1rem;
    }
  }
  nav {
    ul {
      list-style-type: none;
      padding: 0;
      li {
        display: inline-block;
        text-transform: uppercase;
        padding: 0 0.5rem !important;
        &:first-child {
          padding-left: 0;
        }
        &:last-child {
          padding-right: 0;
        }
        a.active {
          text-decoration: underline;
        }
      }
    }
  }
}