.navbar {
  background-color: rgba(234, 29, 47, 1);
  padding: 1rem 0;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.7);
  transition:background-color 0.3s;
  text-align: right;

  @include media-breakpoint-up(lg) {
    background-color: rgba(234, 29, 47, 0.8);
  }
  .navbar-brand {
    max-width: 50%;;
  }
  @media(max-width: 990px) {
    padding: 1rem;
  }
  &.navbar-dark {  
    a.nav-link {
      color: #fff;
      text-transform: uppercase;
      transition: 0.3s;
      font-size: 1.5rem;
      @include media-breakpoint-up(lg) {
        font-size: 1rem;
      }
      &:hover {
        color: #ccc;
      }
      &.active {
        color: $primary-color;
      }
    }
  }
}

.image-header {
  margin-top: -140px;
  margin-bottom: 4rem;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 300px;
  position: relative;
  @include media-breakpoint-up(sm) {
    height: 350px;
  }
  @include media-breakpoint-up(md) {
    height: 400px;
  }
  @include media-breakpoint-up(lg) {
    height: 500px;
  }
  @include media-breakpoint-up(xl) {
    height: 600px;
  }
  h1 {
    text-align: center;
    position: relative;
    top: 30%;
    @include media-breakpoint-up(sm) {
      font-size: 3.5rem;
    }
    @include media-breakpoint-up(md) {
      font-size: 4.5rem;
      top: 25%;
    }
  }
}