{% block html_head_container %}

{% include 'html-header.twig' %}
	{% block head %}
	{% endblock %}
	</head>
{% endblock %}

	<body class="{{ body_class }}" data-template="base.twig">
		<header>
				<!-- Fixed navbar -->
				<nav class="navbar navbar-expand-lg fixed-top navbar-dark">
						<div class="container justify-content-between">
					<a class="navbar-brand" href="/">
							<img src="/wp-content/themes/ehcturbofluid-theme/assets/dist/img/ehc-logo-large.png" alt="EHCTurboFluid Logo" />
					</a>
					<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
						<span class="navbar-toggler-icon"></span>
					</button>
					<div class="collapse navbar-collapse justify-content-end" id="navbarCollapse">
						<ul class="navbar-nav mr-0">
								{% for item in menu.items %}
								<li class="nav-item menu-item-{{item.ID}}">
									<a class="nav-link {{ item.classes|join(' ')}} {% if item.current %}active{% endif %}" href="{{item.link}}" {% if item.get_children %}class="dropdown"{% endif %}>
										{% if item.get_children %}
											<i class="fa fa-sort-desc"></i>
										{% endif %}
										{{item.title}}
									</a>
									{% if item.get_children %}
										<ul>
											{% for child in item.get_children %}
												<li class="nav-item menu-item-{{child.ID}}">
													<a href="{{child.link}}">{{child.title}}</a>
												</li>
											{% endfor %}
										</ul>
									{% endif %}
								</li>
							{% endfor %}
						</ul>
					</div>
				</div>
			</nav>
			{% block header_image %}{% endblock %}
		</header>

		<section id="content" role="main" class="container">
			{% if title %}<h1>{{title}}</h1>{% endif %}
			<div class="wrapper {{sidebar_class}}">
				{% block content %}
					Sorry, no content
				{% endblock %}
			</div>
			{% if sidebar %}
				<aside class="layout-sidebar">
					{{sidebar}}
				</aside>
			{% endif %}
		</section>

		{% block footer %}
				{% include 'footer.twig' %}
			{{ function('wp_footer') }}
		{% endblock %}
	</body>
</html>
