<footer class="footer d-flex align-items-center">
  <div class="container">
    <div class="row">
      <div class="col-md-3 d-flex justify-content-center justify-content-lg-end justify-content-xl-end">
        <div>
          <img src="{{ site.theme.link }}/assets/dist/img/ehc-logo-small.png" alt="EHCTurboFluid Logo footer" />
        </div>
      </div>
      <div class="col-md-7">
        <div class="text-center">
          <nav>
            <ul>
              {% for item in menu.items %}
              <li class="nav-item menu-item-{{item.ID}}">
                <a class="nav-link {% if item.current %}active{% endif %} {{ item.classes|join(' ')}}" href="{{item.link}}" {% if item.get_children %}class="dropdown"{% endif %}>
                  {% if item.get_children %}
                    <i class="fa fa-sort-desc"></i>
                  {% endif %}
                  {{item.title}}
                </a>
              </li>
            {% endfor %}
          </ul>
        </nav>
        </div>
        <p class="text-center">
            &copy;Copyright {{"now"|date('Y')}} by Canoil
        </p>
      </div>
      <div class="col-md-2 d-flex justify-content-center justify-content-lg-end justify-content-xl-end pr-1">
        <p style="font-size: 1.125rem">
          <span class="text-uppercase d-inline-block d-md-block">TollFree:</span>
          <a href="tel:1885520-2022" title="Call EHCTurbofluid toll free">1(885) 520-2022</a>
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 mt-3">
        <p class="text-center">
            &copy;Copyright. All rights reserved. X Reolube<sup>&reg;</sup> and Reolube<sup>&reg;</sup> are registered trademarks to LXS Deutschland GmbH.
        </p>
      </div>
    </div>
  </div>
</footer>