{% extends "base.twig" %} {% block header_image %}
<div class="image-header">
  {% include('partial/slider.twig') %}
</div>
{% endblock %} {% block content %}
<div class="content-wrapper">
  <article class="post-type-{{post.post_type}}" id="post-{{post.ID}}">
    <section class="article-content">
      <h1 class="article-h1 sr-only">{{post.title}}</h1>
      <div class="article-body">
        {{post.content}}
      </div>
      <div class="row" id="products">
        <div class="col-lg-12 text-center">
          <h2 class="h1" style="text-transform:none">Reolube&reg; Turbofluid</h2>
        </div>
      </div>
      <div class="row mt-5">
        {% for product in post.get_field('products') %}
        <div class="col-lg-4 fluid-box">
          <h2 class="h3" style="text-transform: none">{{ product.name }}</h2>
          <p class="text-justify equal-height">
            {{ product.body_text }}
            <br> {% if product.name == 'Turbofluid 46B' %}
            <a href="/contact-us?compare=46b" class="btn btn-reverse btn-sm mt-3">Product Comparison</a>
            {% endif %}
          </p>
          <div class="row mb-3">
            <div class="col-12 text-center">
              <a href="/contact-us?product={{ product.name | url_encode }}" class="btn btn-hollow">Request Data Sheets</a>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
      <div class="seperator"></div>
      <div class="row" id="calculator">
        <div class="col-lg-6 calc-description">
          <h2 class="h4">EHC Fluid Health Calculator</h2>
          <div class="row my-3">
            <div class=" d-none d-lg-block col-lg-4">
              <img src="{{ site.theme.link }}/assets/dist/img/calculator.png" alt="image of a calculator" role="presentation" />
            </div>
            <div class="col-lg-8">
              {{ post.get_field('calculator_text') }}
              <div class="row">
                <div class=" col-6 mt-2">
                  <button data-toggle="modal" data-target="#disclaimerModal" class="btn btn-hollow">Disclaimer</button>
                </div>
                <div class=" col-6 mt-2 text-right">
                  <button class="btn btn-hollow calculator-background-trigger">Background
                    <i class="fa fa-chevron-down"></i>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-6">
          {% include('partial/calculator.twig') %}
        </div>
      </div>
      <div id="background" class="row calculator-background">
        <div class="col-12">
          <h2 class="h3">Background</h2>
          {{ post.get_field('calculator_background') }}
        </div>
      </div>
      <div class="seperator"></div>
      <div class="row">
        <div class="col-lg-4">
          <h2 class="h3">About Us</h2>
          <p>{{ about }}</p>
          <a href="/about-us" class="btn btn-full btn-hollow text-uppercase">Read More</a>
        </div>
        <div class="col-lg-3 front-icons">
          <img class="d-flex align-self-center mt-auto mb-4" role="presentation" src="{{ site.theme.link }}/assets/dist/img/person_icon.png"
            alt="Person icon to represent the Contact Us link" />
          <a href="/contact-us" class="btn btn-full btn-hollow text-uppercase">Contact the Experts</a>
        </div>
        <div class="col-lg-3 front-icons">
          <img class="d-flex align-self-center mb-4" role="presentation" src="{{ site.theme.link }}/assets/dist/img/pages_icon.png"
            alt="Image of paper to describe the White Papers page" />
          <a href="/white-papers" class="btn btn-full btn-hollow text-uppercase">White Papers</a>
        </div>
        <div class="col-lg-2 front-icons">
          <img class="d-flex align-self-center mb-4" role="presentation" src="{{ site.theme.link }}/assets/dist/img/questions_icon.png"
            alt="Question and answer icon to represent the FAQ page" />
          <a href="/faq" class="btn btn-full btn-hollow text-uppercase">FAQ</a>
        </div>
      </div>
    </section>
  </article>
</div>
<!-- /content-wrapper -->

<!-- Modal -->
<div class="modal fade" id="disclaimerModal" tabindex="-1" role="dialog" aria-labelledby="disclaimerModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="disclaimerModalLabel">Disclaimer</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        {{ post.get_field('calculator_disclaimer') }}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<!-- Viscosity Modal -->
<div class="modal fade" id="waterModal" tabindex="-1" role="dialog" aria-labelledby="waterModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="waterModalLabel">Water Contet (ppm)</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        {{ post.get_field('water_description') }}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<!-- Viscosity Modal -->
<div class="modal fade" id="viscosityModal" tabindex="-1" role="dialog" aria-labelledby="viscosityModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="viscosityModalLabel">Viscosity cSt @ 40° C</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        {{ post.get_field('viscosity_description') }}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<!-- Viscosity Modal -->
<div class="modal fade" id="acidModal" tabindex="-1" role="dialog" aria-labelledby="acidModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="acidModalLabel">Total Acid/Neutralization No. (mg KOH / gm)</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        {{ post.get_field('acid_number_description') }}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<!-- Viscosity Modal -->
<div class="modal fade" id="resistivityModal" tabindex="-1" role="dialog" aria-labelledby="resistivityModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="resistivityModalLabel">Resistivity (Gohm.cm)</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        {{ post.get_field('resistivity_description') }}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
{% endblock %}