{% extends "base.twig" %}

{% block header_image %}
<div class="image-header" style="background-image:url('{{ site.theme.link }}/assets/dist/img/about-header.jpg')">
  <h1 class="article-h1">{{post.title}}</h1>
</div>
{% endblock %}
{% block content %}
	<div class="content-wrapper">
		<article class="post-type-{{post.post_type}}" id="post-{{post.ID}}">
			<section class="article-content">
				<div class="article-body">
					{{post.content}}
				</div>
			</section>
		</article>
	</div><!-- /content-wrapper -->
{% endblock %}