{% extends "base.twig" %}

{% block content %}
	<div class="content-wrapper">
		<article class="post-type-{{post.post_type}}" id="post-{{post.ID}}">
			<section class="article-content">
				<h1 class="article-h1 h2">{{post.title}}</h1>
				<div class="article-body">
					{{post.content}}
        </div>
        <!--tech support-->
        <hr>
        <div class="row">
          <div class="col-md-12 mb-3">
            <h2 class="h3">Sales and Techincal Support</h2>
          </div>
        </div>
        <div class="row">
          {% for tech in post.get_field('sales_and_technical_support') %}
          <div class="col-lg-6">
            <h3 class="h5 text-uppercase mb-1">
              {{ tech.name }}
            </h3>
            <div>
              <p class="mb-3">
                {{ tech.title }}
              </p>
              <p style="line-height: 1.8">
                <strong>Email: </strong><a href="mailto:{{ tech.email }}">{{ tech.email }}</a><br>
                {% if tech.telephone %}
                  <strong>Telephone: </strong><a href="tel:{{ tech.telephone }}">{{ tech.telephone }}</a><br>
                {% endif %}
                <strong>Toll Free: </strong><a href="tel:{{ tech.toll_free }}">{{ tech.toll_free }}</a><br>
              </p>
            </div>
          </div>
          {% endfor %}
        </div>
        <!--end tech support-->
        <!-- distributors USA-->
        <hr>
        <div class="row">
          <div class="col-md-12 mb-3">
            <h2 class="h3">USA Distributors</h2>
          </div>
        </div>
        <div class="row">
          {% for usa in post.get_field('usa_distributors') %}
          <div class="col-lg-4">
            <h3 class="h5 text-uppercase mb-1">
              {{ usa.name }}
            </h3>
            <div>
              <p style="line-height: 1.8">
                  <strong>Telephone: </strong><a href="tel:{{ usa.telephone }}">{{ usa.telephone }}</a><br>
              </p>
            </div>
          </div>
          {% endfor %}
        </div>
        <!--end USA-->
        <!-- distributors Mexico-->
        <hr>
        <div class="row">
          <div class="col-md-12 mb-3">
            <h2 class="h3">Mexico Distributor{% if post.get_field('mexico_distributors')|length > 1 %}s{% endif %}</h2>
            {{post.get_field('mexico_distributors').length}}
          </div>
        </div>
        <div class="row">
          {% for mex in post.get_field('mexico_distributors') %}
          <div class="col-lg-6">
            <h3 class="h5 text-uppercase mb-1">
              {{ mex.name }}
            </h3>
            <div>
              <p style="line-height: 1.8">
                  <strong>Telephone: </strong><a href="tel:{{ mex.telephone }}">{{ mex.telephone }}</a><br>
              </p>
            </div>
          </div>
          {% endfor %}
        </div>
        <!--end Mexico-->
			</section>
		</article>
	</div><!-- /content-wrapper -->
{% endblock %}