{% extends "base.twig" %}

{% block content %}
	<div class="content-wrapper">
		<article class="post-type-{{post.post_type}}" id="post-{{post.ID}}">
			<section class="article-content">
				<h1 class="article-h1 h2">{{post.title}}</h1>
				<div>
					<p>
						<a href="/?vis={{vis}}&acid={{acid}}&water={{water}}&resist={{resist}}&clear#calculator" class="btn btn-hollow btn-md">Recalculate</a>
					</p>
				</div>
				<div class="article-body">
					{{post.content}}
				</div>
				{% include('partial/calculator-results.twig') %}
			</section>
			<div class="row">
				<div class="col-md-12">
					<button  data-toggle="modal" data-target="#disclaimerModal" class="btn btn-hollow">Disclaimer</button>
				</div>
			</div>
		</article>
	</div><!-- /content-wrapper -->


<!-- Modal -->
<div class="modal fade" id="disclaimerModal" tabindex="-1" role="dialog" aria-labelledby="disclaimerModalLabel" aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="disclaimerModalLabel">Disclaimer</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					{{ disclaimer }}
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
				</div>
			</div>
		</div>
	</div>
	{% endblock %}