{% extends "base.twig" %}

{% block content %}
	<div class="content-wrapper">
		<article class="post-type-{{post.post_type}}" id="post-{{post.ID}}">
			<section class="article-content">
				<h1 class="h2 mb-5">{{post.title}}</h1>
				<div class="article-body mt-4">
				{% for question in post.get_field('faq_questions') %}
					<div class="mb-3">
						<h2 class="question h5"><strong>Q:</strong> {{ question.question }} <i class="fa fa-chevron-down"></i></h2>
						<div class="answer">{{ question.answer }}</div>
					</div>
				{% endfor %}
					{{post.content}}
				</div>
			</section>
		</article>
	</div><!-- /content-wrapper -->
{% endblock %}