{% extends "base.twig" %}

{% block content %}
	<div class="content-wrapper">
		<article class="post-type-{{post.post_type}}" id="post-{{post.ID}}">
			<section class="article-content">
				<h1 class="article-h1 h2">{{post.title}}</h1>
				<div class="article-body">
          {{post.content}}
        </xmp>
        </div>
        <div class="row mt-5">
          {% for paper in post.get_field('white_paper') %}
          {% if paper.type == 'pdf' %}
          <div class="col-lg-12">
            <p style="font-size: 1.25rem;">
              <a href="{{ paper.pdf_file.url }}" target="_blank"><i class="fa fa-file-pdf-o"></i> {{ paper.name }}</a>
            </p>
          </div>
          {% else %}
          <div class="col-lg-12">
            <p style="font-size: 1.25rem; line-height: 1.8">
                {{ paper.name }}<br>
              <a href="{{ paper.website_url }}" target="_blank"><i class="fa fa-external-link"></i></i> {{ paper.website_url }}</a>
            </p>
          </div>
          {% endif %}
          {% endfor %}
        </div>
			</section>
		</article>
	</div><!-- /content-wrapper -->
{% endblock %}