body {
  color: #2F2E2E;
  font-family: Lato, sans-serif;
  line-height: 1.6; }

html {
  font-size: 14px; }

@media (min-width: 576px) {
  html {
    font-size: 16px; } }

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
  color: #EA1D2F;
  font-family: Raleway, sans-serif;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 600; }

h5, .h5,
h6, .h6 {
  text-transform: none;
  letter-spacing: normal; }

a {
  color: #EA1D2F;
  transition: 0.3s; }
  a:hover {
    color: #850c17;
    text-decoration: none; }

p {
  line-height: 1.4;
  margin-bottom: 1.5rem; }

html, body {
  height: 100%; }

body {
  display: flex;
  flex-flow: column;
  padding-top: 140px;
  background-color: #f1f1f1; }

img {
  max-width: 100%; }

.container {
  max-width: 980px; }

#content {
  flex: 1 0 auto; }

.logged-in .navbar {
  top: 32px !important; }

.seperator {
  border-top: 3px solid #EA1D2F;
  margin: 4rem 0; }

.calculator-background {
  display: none;
  margin-top: 4rem; }

.calc-description {
  border: none; }
  @media (min-width: 992px) {
    .calc-description {
      border-right: 3px dashed #EA1D2F; } }

.front-icons {
  text-align: center;
  display: flex;
  flex-direction: column;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  align-items: flex-end;
  height: 100%; }
  @media (min-width: 992px) {
    .front-icons {
      margin-bottom: 0;
      margin-top: auto; } }
  .front-icons:after {
    content: '';
    min-height: inherit;
    font-size: 0;
    display: block; }

#slider {
  position: relative;
  overflow: hidden;
  margin: 0;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.7);
  display: none; }

#slider ul {
  position: relative;
  margin: 0;
  padding: 0;
  height: 100%;
  list-style: none; }

#slider ul li {
  position: relative;
  display: block;
  float: left;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background: #ccc;
  text-align: center;
  line-height: 300px; }

a.control_prev, a.control_next {
  position: absolute;
  top: 40%;
  z-index: 999;
  display: block;
  padding: 3rem 1rem;
  width: auto;
  height: auto;
  background: #2a2a2a;
  color: #fff;
  text-decoration: none;
  font-weight: 600;
  font-size: 18px;
  opacity: 0.8;
  cursor: pointer; }
  @media (min-width: 576px) {
    a.control_prev, a.control_next {
      padding: 3rem 2rem; } }

a.control_prev:hover, a.control_next:hover {
  opacity: 1;
  -webkit-transition: all 0.2s ease; }

a.control_prev {
  border-radius: 0 2px 2px 0; }

a.control_next {
  right: 0;
  border-radius: 2px 0 0 2px; }

.slider-image {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 300px;
  width: 100%; }
  @media (min-width: 576px) {
    .slider-image {
      height: 350px; } }
  @media (min-width: 768px) {
    .slider-image {
      height: 400px; } }
  @media (min-width: 992px) {
    .slider-image {
      height: 500px; } }
  @media (min-width: 1200px) {
    .slider-image {
      height: 600px; } }

.slider-content {
  position: absolute;
  left: 12%;
  top: 60%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.7);
  padding: 2rem;
  max-width: 70%;
  text-align: left; }
  @media (min-width: 768px) {
    .slider-content {
      width: 500px; } }
  @media (min-width: 992px) {
    .slider-content {
      width: 600px;
      top: 50%;
      left: 10%; } }
  .slider-content h2 {
    color: #fff;
    font-size: 1.25rem; }
    @media (min-width: 992px) {
      .slider-content h2 {
        font-size: 1.75rem; } }
  .slider-content p {
    color: #fff;
    font-size: 1rem; }
    @media (min-width: 992px) {
      .slider-content p {
        font-size: 1.25rem; } }
  .slider-content .btn-hollow {
    color: #fff;
    border: none;
    padding: 0.25rem; }
    @media (min-width: 992px) {
      .slider-content .btn-hollow {
        font-size: 1.25rem;
        border: 1px solid #fff;
        padding: 0.5rem 2rem; } }

.slider-text {
  margin-bottom: 5px; }
  @media (min-width: 992px) {
    .slider-text {
      margin-bottom: 1.4rem; } }

.btn-hollow {
  color: #EA1D2F;
  border-color: #EA1D2F;
  background-color: transparent;
  outline: none !important;
  transition: 0.3s; }
  .btn-hollow:hover {
    color: #fff;
    background-color: #EA1D2F; }

.btn-reverse {
  color: #fff;
  border-color: #EA1D2F;
  background-color: #EA1D2F;
  outline: none !important;
  transition: 0.3s; }
  .btn-reverse:hover {
    color: #EA1D2F;
    background-color: transparent; }

.btn:focus, .btn.focus {
  outline: none !important;
  box-shadow: none; }

.btn-full {
  width: auto;
  margin: auto; }
  @media (min-width: 992px) {
    .btn-full {
      width: 100%; } }

.btn-caution {
  color: #fff;
  border-color: #d3c30d;
  background-color: #d3c30d;
  outline: none !important;
  transition: 0.3s; }
  .btn-caution:hover {
    color: #000000;
    border-color: #000;
    background-color: transparent; }

.btn-warning {
  color: #fff;
  border-color: #e87422;
  background-color: #e87422;
  outline: none !important;
  transition: 0.3s; }
  .btn-warning:hover {
    color: #e87422;
    background-color: transparent; }

.btn-danger {
  color: #fff;
  border-color: #d80000;
  background-color: #d80000;
  outline: none !important;
  transition: 0.3s; }
  .btn-danger:hover {
    color: #d80000;
    background-color: transparent; }

.answer {
  display: none; }

.question {
  cursor: pointer; }

div.wpcf7-validation-errors, div.wpcf7-acceptance-missing {
  margin: 0  !important;
  margin-bottom: 20px !important;
  border: 1px solid transparent !important;
  border-radius: 4px;
  color: #8a6d3b;
  background-color: #fcf8e3;
  border-color: #faebcc !important;
  font-size: 1.25rem;
  padding: 1rem !important; }

.error {
  color: #EA1D2F;
  display: none; }

.ehc .info {
  color: #0000b1;
  cursor: pointer; }

.ehc .least h3 {
  color: white;
  background-color: green;
  padding: 0.5em; }

.ehc .less h3 {
  color: white;
  background-color: #0000b1;
  padding: 0.5em; }

.ehc .caution h3 {
  color: #000;
  background-color: #e8d722;
  padding: 0.5em; }

.ehc .more h3 {
  color: white;
  background-color: #e87422;
  padding: 0.5em; }

.ehc .most h3 {
  color: white;
  background-color: #d80000;
  padding: 0.5em; }

.ehc .result {
  display: none; }

.footer {
  background-color: #2F2E2E;
  color: #fff;
  font-size: 0.875rem;
  padding: 2rem 0;
  margin-top: 6rem;
  flex-shrink: 0; }
  .footer .nav-link {
    padding: 0; }
  .footer p {
    margin: 0; }
  .footer a {
    color: #fff; }
  @media (max-width: 768px) {
    .footer div[class^="col-"] {
      padding-bottom: 1rem; } }
  .footer nav ul {
    list-style-type: none;
    padding: 0; }
    .footer nav ul li {
      display: inline-block;
      text-transform: uppercase;
      padding: 0 0.5rem !important; }
      .footer nav ul li:first-child {
        padding-left: 0; }
      .footer nav ul li:last-child {
        padding-right: 0; }
      .footer nav ul li a.active {
        text-decoration: underline; }

.navbar {
  background-color: #ea1d2f;
  padding: 1rem 0;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.7);
  transition: background-color 0.3s;
  text-align: right; }
  @media (min-width: 992px) {
    .navbar {
      background-color: rgba(234, 29, 47, 0.8); } }
  .navbar .navbar-brand {
    max-width: 50%; }
  @media (max-width: 990px) {
    .navbar {
      padding: 1rem; } }
  .navbar.navbar-dark a.nav-link {
    color: #fff;
    text-transform: uppercase;
    transition: 0.3s;
    font-size: 1.5rem; }
    @media (min-width: 992px) {
      .navbar.navbar-dark a.nav-link {
        font-size: 1rem; } }
    .navbar.navbar-dark a.nav-link:hover {
      color: #ccc; }
    .navbar.navbar-dark a.nav-link.active {
      color: #2F2E2E; }

.image-header {
  margin-top: -140px;
  margin-bottom: 4rem;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 300px;
  position: relative; }
  @media (min-width: 576px) {
    .image-header {
      height: 350px; } }
  @media (min-width: 768px) {
    .image-header {
      height: 400px; } }
  @media (min-width: 992px) {
    .image-header {
      height: 500px; } }
  @media (min-width: 1200px) {
    .image-header {
      height: 600px; } }
  .image-header h1 {
    text-align: center;
    position: relative;
    top: 30%; }
    @media (min-width: 576px) {
      .image-header h1 {
        font-size: 3.5rem; } }
    @media (min-width: 768px) {
      .image-header h1 {
        font-size: 4.5rem;
        top: 25%; } }

.modal {
  top: 5rem; }
