.btn-hollow {
  color: $accent-color;
  border-color: $accent-color;
  background-color: transparent;
  outline: none !important;
  transition: 0.3s;
  &:hover {
    color: #fff;
    background-color: $accent-color;
  }
}
.btn-reverse {
  color: #fff;
  border-color: $accent-color;
  background-color: $accent-color;
  outline: none !important;
  transition: 0.3s;
  &:hover {
    color: $accent-color;
    background-color: transparent;
  }
}

.btn:focus, .btn.focus {
  outline: none !important;
  box-shadow: none;
}

.btn-full {
  width: auto;
  margin: auto;
  @include media-breakpoint-up(lg) {
    width: 100%;
  }
}

.btn-caution {
  color: #fff;
  border-color: darken(#f3e439, 15);
  background-color:  darken(#f3e439, 15);
  outline: none !important;
  transition: 0.3s;
  &:hover {
    color: #000000;
    border-color: #000;
    background-color: transparent;
  }
}

.btn-warning {
  color: #fff;
  border-color: #e87422;
  background-color: #e87422;
  outline: none !important;
  transition: 0.3s;
  &:hover {
    color: #e87422;
    background-color: transparent;
  }
}

.btn-danger {
  color: #fff;
  border-color: #d80000;
  background-color: #d80000;
  outline: none !important;
  transition: 0.3s;
  &:hover {
    color: #d80000;
    background-color: transparent;
  }
}