div.wpcf7-validation-errors, div.wpcf7-acceptance-missing {
  margin: 0  !important;
  margin-bottom: 20px !important;
  border: 1px solid transparent !important;
  border-radius: 4px;
  color: #8a6d3b;
  background-color: #fcf8e3;
  border-color: #faebcc !important;
  font-size: 1.25rem;
  padding: 1rem !important;
}

.error {
  color: $accent-color;
  display: none;
}

.ehc .info {
	color: #0000b1;
	cursor: pointer;
}


.ehc .least h3 {
	color: white;
	background-color: green;
	padding: 0.5em;
}

.ehc .less h3 {
	color: white;
	background-color: #0000b1;
	padding: 0.5em;
}

.ehc .caution h3 {
	color: #000;
	background-color: #e8d722;
	padding: 0.5em;
}

.ehc .more h3 {
	color: white;
	background-color: #e87422;
	padding: 0.5em;
}

.ehc .most h3 {
	color: white;
	background-color: #d80000;
	padding: 0.5em;
}

.ehc .result {
	display: none;
}
