html, body {
  height: 100%;
}

body {
  display: flex;
  flex-flow: column;
  padding-top: 140px;
  background-color: #f1f1f1;
}

img {
  max-width: 100%;
}

.container {
  max-width: 980px;
}

#content {
  flex: 1 0 auto;
}

.logged-in .navbar {
  top: 32px !important;
}

.seperator {
  border-top: 3px solid $accent-color;
  margin: 4rem 0;
}

.calculator-background {
  display: none;
  margin-top: 4rem;
}

.calc-description {
  border: none;
  @include media-breakpoint-up(lg) {
    border-right: 3px dashed #EA1D2F;
  }
}
.front-icons {
  text-align: center;
  display: flex;
  flex-direction: column;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  align-items: flex-end;
  height: 100%;
  @include media-breakpoint-up(lg) {
    margin-bottom: 0;
    margin-top: auto;
  }
  &:after{
    content:'';
    min-height:inherit;
    font-size:0;
    display: block;
  }
}