
#slider {
  position: relative;
  overflow: hidden;
  margin: 0;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.7);
  display: none;
}

#slider ul {
  position: relative;
  margin: 0;
  padding: 0;
  height: 100%;
  list-style: none;
}

#slider ul li {
  position: relative;
  display: block;
  float: left;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background: #ccc;
  text-align: center;
  line-height: 300px;
}

a.control_prev, a.control_next {
  position: absolute;
  top: 40%;
  z-index: 999;
  display: block;
  padding: 3rem 1rem;
  width: auto;
  height: auto;
  background: #2a2a2a;
  color: #fff;
  text-decoration: none;
  font-weight: 600;
  font-size: 18px;
  opacity: 0.8;
  cursor: pointer;
  @include media-breakpoint-up(sm) {
    padding: 3rem 2rem;
  }
}

a.control_prev:hover, a.control_next:hover {
  opacity: 1;
  -webkit-transition: all 0.2s ease;
}

a.control_prev {
  border-radius: 0 2px 2px 0;
}

a.control_next {
  right: 0;
  border-radius: 2px 0 0 2px;
}

.slider-image {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 300px;
  width: 100%;
  @include media-breakpoint-up(sm) {
    height: 350px;
  }
  @include media-breakpoint-up(md) {
    height: 400px;
  }
  @include media-breakpoint-up(lg) {
    height: 500px;
  }
  @include media-breakpoint-up(xl) {
    height: 600px;
  }
}

.slider-content {
  position: absolute;
  left: 12%;
  top: 60%;
  transform: translateY(-50%);
  background-color: rgba(0,0,0,0.7);
  padding: 2rem;
  max-width: 70%;
  text-align: left;
  @include media-breakpoint-up(md) {
    width: 500px;
  }
  @include media-breakpoint-up(lg) {
    width: 600px;
    top: 50%;
    left: 10%;
  }
  h2 {
    color: #fff;
    font-size: 1.25rem;
    @include media-breakpoint-up(lg) {
      font-size: 1.75rem;
    }
  }
  p {
    color: #fff;
    font-size: 1rem;
    @include media-breakpoint-up(lg) {
      font-size: 1.25rem;
    }
  }
  .btn-hollow {
    color: #fff;
    border:none;
    padding: 0.25rem;
    @include media-breakpoint-up(lg) {
      font-size: 1.25rem;
      border: 1px solid #fff;
      padding: 0.5rem 2rem;
    }
  }
}
.slider-text{
  margin-bottom: 5px;
  @include media-breakpoint-up(lg) {
    margin-bottom: 1.4rem;
  }
}