body {
  color: $primary-color;
  font-family: $body-font;
  line-height: 1.6;
}

html {
  font-size: 14px;
}

@include media-breakpoint-up(sm) {
  html {
    font-size: 16px;
  }
}


h1, .h1, 
h2, .h2, 
h3, .h3, 
h4, .h4, 
h5, .h5, 
h6, .h6 {
  color: $accent-color;
  font-family: $heading-font;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 600;
}

h5, .h5,
h6, .h6 {
  text-transform: none;
  letter-spacing: normal;
}

a {
  color: $accent-color;
  transition: 0.3s;
  &:hover {
    color: darken( $accent-color, 23 );
    text-decoration: none;
  }
}

p {
  line-height: 1.4;
  margin-bottom: 1.5rem;
}