// Colours
$accent-color: #EA1D2F;
$primary-color: #2F2E2E;


//Sizes
$header-height: 87px;
$footer-height: 110px;

//Fonts
$body-font: Lato, sans-serif;
$heading-font: Raleway, sans-serif;

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px
) !default;
